<%= form_for(@edital) do |f| %>
  <% if @edital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@edital.errors.count, "error") %> prohibited this edital from being saved:</h2>

      <ul>
      <% @edital.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :habilitado %><br>
    <%= f.check_box :habilitado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
