<h1>Listing servidors</h1>

<table>
  <thead>
    <tr>
      <th>Siape</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Habilitado</th>
      <th>Cpf</th>
      <th>Lattes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servidors.each do |servidor| %>
      <tr>
        <td><%= servidor.siape %></td>
        <td><%= servidor.nome %></td>
        <td><%= servidor.email %></td>
        <td><%= servidor.habilitado %></td>
        <td><%= servidor.cpf %></td>
        <td><%= servidor.lattes %></td>
        <td><%= link_to 'Show', servidor %></td>
        <td><%= link_to 'Edit', edit_servidor_path(servidor) %></td>
        <td><%= link_to 'Destroy', servidor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Servidor', new_servidor_path %>
